.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  z-index: 99;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    background: $text-color;
    margin: 0 0 5px 0;
    @include easeOut;

    &:nth-child(3) {
      margin: 0;
    }
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100%;
  opacity: 0;
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: column nowrap;
  overflow: hidden;
  z-index: 50;
  background: darken($color: $primary-color, $amount: 5);
  transform: translate3d(0, -100%, 0);
  @include easeOut;

  &.show {
    // 從上方滑入
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }

  &-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    transform: translate3d(600px, 0, 0);
    margin: 0.5rem 0;
    @include easeOut;

    &.show {
      // 從右方滑入
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $text-dark-color;
      background: $secondary-color;
    }
  }

  &-nav-link {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// 每一個 menu-item delay 0.1 秒出現
@for $x from 1 through 5 {
  .menu-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
