@include mediaXl {
}

@include mediaLg {
  .secondary-heading {
    display: block;
    margin-bottom: 2rem;
    line-height: 1;
  }
}

@include mediaMd {
  main,
  section {
    text-align: center;
  }

  h1.lg-heading {
    font-size: 3rem;
  }

  .secondary-heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .menu-nav {
    font-size: 24px;
  }

  section.experience .timeline {
    width: 100%;
    padding: 0 1rem;
  }
}

@include mediaSm {
  h1.lg-heading,
  h2.lg-heading {
    margin-top: 1.5rem;
    font-size: 2.4rem;
  }

  .secondary-heading {
    font-size: 2rem;
  }

  h2.sm-heading {
    font-size: 1.2rem;
  }

  section.experience .timeline {
    &::before {
      left: 3.5rem;
    }

    & > ul::before,
    & > ul::after,
    & li > .time-marker {
      left: 2.5rem;
    }

    & > ul > li:nth-child(even) {
      float: right;
      text-align: left;
    }

    & li:nth-child(even) .time {
      right: auto;
      left: 0.5rem;
    }

    & > ul > li {
      width: calc(90% - 2.5rem);
    }
  }

  .footer .contact-list {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 151px;
  }
}
