@include mediaXl {
}

@include mediaLg {
  .secondary-heading {
    display: block;
    margin-bottom: 2rem;
    line-height: 1;
  }
}

@include mediaMd {
  main,
  section {
    text-align: center;
  }

  .home h1 {
    margin-top: 20vh;
    font-size: 3rem;
  }

  .secondary-heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .lg-heading {
    line-height: 1;
  }

  .menu-nav {
    font-size: 24px;
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaSm {
  .home h1 {
    font-size: 2.4rem;
  }

  .secondary-heading {
    font-size: 2rem;
  }

  h2.sm-heading {
    font-size: 1.2rem;
  }
}
