@import 'config';
@import 'menu';
@import 'button';

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: $text-color;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.2rem 0.1rem;
  }
}

a {
  text-decoration: none;
  color: $text-color;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

main,
.bg-overlay,
section,
footer {
  padding: 1.5rem;
}

.text-secondary {
  color: $secondary-color;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

// 首頁
main.home {
  overflow: hidden;
  height: 100vh;
  position: relative;
  background: $home-image-url $primary-color;
  background-size: cover;

  .bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-color, $bg-opacity);
  }

  .icons {
    margin-top: 1rem;
    z-index: 0;

    a {
      padding: 0 0.4rem;
    }
  }

  h1 {
    margin-top: 30vh;
  }
}

// 關於我
section.about {
  overflow: hidden;
  min-height: 100vh;
  background: $primary-color;
  color: $text-color;

  .about-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    margin-top: 5rem;

    .bio-image {
      max-width: 100%;
      height: auto;
      border: 5px solid $secondary-color;
      border-radius: 50%;
    }

    .bio {
      max-width: 35rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

section.experience {
  overflow: hidden;
  min-height: 100vh;

  .timeline {
    position: relative;
    margin: 4rem auto 0;
    width: 80%;

    &::before {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      background: $text-color;
    }

    & > ul {
      display: inline-block;
      position: relative;
      padding: 85px 0 48px;
      width: 100%;
    }

    & > ul::before {
      content: '';
      background: url(../img/dot-start.svg);
      background-size: contain;
      position: absolute;
      width: 48px;
      height: 48px;
      top: 0;
      left: 50%;
      z-index: 10;
      transform: translateX(-50%);
    }

    & > ul::after {
      content: '';
      background: #d8d8d8;
      border-radius: 2px;
      width: 46px;
      height: 4px;
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
    }

    & > ul > li {
      width: 46%;
      margin: 1.5rem 0;
    }

    & > ul > li:nth-child(odd) {
      float: right;
      text-align: left;
      clear: both;
    }

    & > ul > li:nth-child(even) {
      float: left;
      text-align: right;
      clear: both;
    }

    & li > .time-marker {
      position: absolute;
      top: 24.9%;
      left: 50%;
      transform: translateX(-50%);
    }

    & li:nth-child(2) > .time-marker {
      top: 51%;
    }

    & li:nth-child(3) > .time-marker {
      top: 77.1%;
    }

    & li polygon {
      @include easeOut;
    }

    & li:hover polygon {
      fill: #eece1a;
    }

    & li:hover .content {
      background: $secondary-color;
      color: $text-dark-color;
    }

    & li:hover .time {
      color: $secondary-color;
    }

    & .content {
      position: relative;
      font-size: 1rem;
      padding: 0.5rem 0.8rem;
      background: darken($primary-color, 5);
      border-radius: 0.5rem;
      color: $text-color;
      @include easeOut;
    }

    & .time {
      position: absolute;
      top: -1.5rem;
      left: 0.5rem;
      font-size: 0.8rem;
      color: $text-color;
      font-weight: 300;
    }

    & li:nth-child(even) .time {
      left: auto;
      right: 0.5rem;
    }

    & .job {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }

    & .description {
      font-size: 0.8rem;
    }
  }
}

section.skills {
  overflow: hidden;
  min-height: 100vh;

  .skills-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1.5rem auto 1rem;

    & > li {
      width: 30%;
      max-width: 20rem;
      min-width: 16rem;
      min-height: 14rem;
      margin: 1rem;
      padding: 0.5rem 0.8rem;
      border-bottom: 3px solid $secondary-color;
      background: lighten($primary-color, 5);
      text-align: center;
      @include easeOut;
    }

    & > li:hover {
      background: $secondary-color;
      color: $text-dark-color;
    }

    & .sm-heading {
      margin-bottom: 0.5rem;
    }

    & .fas {
      color: $secondary-color;
      margin-top: 0.5rem;
      @include easeOut;
    }

    & > li:hover > .fas {
      color: $text-dark-color;
    }

    & > li > .skills-sublist {
      list-style: disc;
      list-style-position: inside;
      font-size: 0.8rem;
    }
  }
}

section.works {
  overflow: hidden;
  min-height: 100vh;
  background: $primary-color;
  color: $text-color;

  .projects {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
    flex-flow: row wrap;

    .project {
      max-width: 20rem;
      min-width: 16rem;
      margin: 1rem;

      &-box {
        width: 100%;
        background: lighten($primary-color, 5);
        border-radius: 0.5rem;
        overflow: hidden;
      }

      &-img {
        height: 150px;
        background-image: url(../img/hex-restaurant.png);
        background-size: cover;
        background-position: 50% 0%;
        @include easeOut;
      }

      &-body {
        padding: 1rem;
      }

      &-title {
        font-size: 1.5rem;
        font-weight: 700;
      }

      &-linksList {
        display: flex;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
      }

      &-linkItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
      }

      &-link {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
      }

      &-link:hover {
        background: $secondary-color;
        color: $primary-color;
      }

      &-footer {
        background: lighten($primary-color, 10);
        padding: 1rem;
      }

      &-skillsList {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem 0;
        overflow-x: auto;
      }

      &-skill {
        color: darken($text-color, 10);
        margin-right: 1rem;
        font-size: 0.8rem;
      }

      &-skillCaption {
        text-align: center;
      }
    }
  }
}

.footer {
  background-color: lighten($primary-color, 15);
  color: $text-color;
  text-align: center;
  padding: 2rem 0;

  &-title {
    margin-bottom: 1rem;
    color: $secondary-color;
  }

  .contact {
    &-list {
      max-width: 450px;
      margin: 0 auto;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 1rem 0;
    }

    &-link {
      margin-right: 0.5rem;
    }

    &-info {
      text-align: left;
    }

    &-head {
      font-size: 0.5rem;
    }

    &-sub-title {
      font-size: 0.5rem;
      color: darken($color: $text-color, $amount: 20);
    }
  }
}

@import 'mobile';
